In [1]:
# ingest the data

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv(r'D:\ineuron\fsdsendtoend\notebooks\data\gemstone.csv')

In [6]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
23402,23403,1.59,Premium,H,SI2,62.6,59.0,7.42,7.40,4.64,9385
20162,20163,1.18,Ideal,D,SI1,61.9,55.0,6.80,6.76,4.20,7216
22721,22722,0.28,Very Good,H,VVS2,62.7,54.0,4.16,4.19,2.61,522
12460,12461,0.52,Ideal,H,VS1,62.4,55.0,5.19,5.17,3.23,1577
11461,11462,1.05,Very Good,H,VS1,59.5,56.0,6.62,6.68,3.96,6132

In [7]:
data.shape

(26967, 11)

In [8]:
data.isnull().sum()

id           0
carat        0
cut          0
color        0
clarity      0
depth      697
table        0
x            0
y            0
z            0
price        0
dtype: int64

In [9]:
data['depth'].fillna(data['depth'].mean(), inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       26967 non-null  int64
 1   carat    26967 non-null  float64
 2   cut      26967 non-null  object
 3   color    26967 non-null  object
 4   clarity  26967 non-null  object
 5   depth    26967 non-null  float64
 6   table    26967 non-null  float64
 7   x        26967 non-null  float64
 8   y        26967 non-null  float64
 9   z        26967 non-null  float64
 10  price    26967 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 2.3+ MB

In [12]:
data.drop(labels='id',axis=1,inplace=True)

In [13]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [19]:
data.duplicated().sum() #ignore

34

In [20]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [21]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [24]:
#categorical vs numerical

categorical_columns = data.columns[data.dtypes=='object']

In [25]:
numerical_columns = data.columns[data.dtypes!='object']

In [27]:
data[categorical_columns].head()

         cut color clarity
0      Ideal     E     SI1
1    Premium     G      IF
2  Very Good     E    VVS2
3      Ideal     F     VS1
4      Ideal     F    VVS1

In [28]:
data[numerical_columns].head()

   carat  depth  table     x     y     z  price
0   0.30   62.1   58.0  4.27  4.29  2.66    499
1   0.33   60.8   58.0  4.42  4.46  2.70    984
2   0.90   62.2   60.0  6.04  6.12  3.78   6289
3   0.42   61.6   56.0  4.82  4.80  2.96   1082
4   0.31   60.4   59.0  4.35  4.43  2.65    779

In [29]:
data[categorical_columns].describe()

          cut  color clarity
count   26967  26967   26967
unique      5      7       8
top     Ideal      G     SI1
freq    10816   5661    6571

In [31]:
data[numerical_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
carat,26967.0,0.798375,0.477745,0.2,0.40,0.70,1.05,4.50
depth,26967.0,61.745147,1.394481,50.8,61.10,61.80,62.50,73.60
table,26967.0,57.456080,2.232068,49.0,56.00,57.00,59.00,79.00
x,26967.0,5.729854,1.128516,0.0,4.71,5.69,6.55,10.23
y,26967.0,5.733569,1.166058,0.0,4.71,5.71,6.54,58.90
z,26967.0,3.538057,0.720624,0.0,2.90,3.52,4.04,31.80
price,26967.0,3939.518115,4024.864666,326.0,945.00,2375.00,5360.00,18818.00

In [33]:
data[categorical_columns]["cut"].value_counts()

cut
Ideal        10816
Premium       6899
Very Good     6030
Good          2441
Fair           781
Name: count, dtype: int64

In [34]:
data[categorical_columns]["color"].value_counts()

color
G    5661
E    4917
F    4729
H    4102
D    3344
I    2771
J    1443
Name: count, dtype: int64

In [35]:
data[categorical_columns]["clarity"].value_counts()

clarity
SI1     6571
VS2     6099
SI2     4575
VS1     4093
VVS2    2531
VVS1    1839
IF       894
I1       365
Name: count, dtype: int64